@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/Images/homepage.jpg"  style="height:100%;width:100%"/>
</div>
<div class="bc">

    <q>
        Opportunities knock the door sometimes, so don’t let it go and donate blood.
    </q>
        <br />
        - LazyCoder  
</div>

    

   
 
