@model Blood_Bank.Models.Blood_group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Blood_group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.blood_group_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blood_group_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.blood_group_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
